{% extends "home.html" %} {% block content %} {% load crispy_forms_tags %}
<section>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Enterpise Order Form</h1>
    <p class="fs-5 text-muted">
      Use this form to order more than 25 cases of our product. We will contact you. Thank you for your business.
    </p>
  </div>
  <div class="container justify-content-center">
      {% csrf_token %}
      {% crispy form %}
      <script>
        document.getElementById("id_cases").min = 25;
        document.getElementById("id_cases").max = 100;
      </script>
  </div>
</section>
{% endblock %}
