{% extends "home.html" %}
{% block content %}
<section>
    <div class="row g-5">
        <div class="col-md-8">
            <div class="position-relative overflow-hidden p-2 m-md-3 text-center bg-light">
                <div class="col-md-12">
                  <h1 class="display-4 fw-normal">Frequently Asked Questions</h1>
                  <p class="lead fw-normal">“Sip, Savor, and Watermelon Wonders: Your Watermelon Seltzer Questions Answered!” 🍉🥂</p>
                </div>
              </div>

          <article class="blog-post p-5">
            <h2 class="blog-post-title">Is watermelon hard seltzer made from real watermelons?</h2>
            <p>While we’d love to say our seltzers are freshly squeezed from watermelons, the truth is they’re crafted with love and a dash of imagination. 🍉</p>
            <hr>
            <h2 class="blog-post-title">Can I use watermelon hard seltzer as sunscreen?</h2>
            <p>As much as we’d like to claim SPF 50 protection, our seltzers are best enjoyed in a chilled glass, not slathered on your skin. 😎</p>
            <hr>
            <h2 class="blog-post-title">Does watermelon seltzer make you dance better?</h2>
            <p>We can’t guarantee dance moves, but we’ve seen some impressive watermelon-inspired twirls after a can or two. 💃</p>
            <hr>
            <h2 class="blog-post-title">How many watermelon seltzers can I drink before turning into an actual watermelon?</h2>
            <p>We recommend moderation, but rest assured, transformation into a fruit is unlikely. 🤔</p>
            <hr>
            <h2 class="blog-post-title">Can I mix watermelon seltzer with tequila for a wild party?</h2>
            <p>While we don’t endorse wild parties (wink), a splash of tequila might just turn your watermelon seltzer into a fiesta. 🎉</p>
            <hr>
          </article>
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4">
              <h4 class="fst-italic">FAQ Archives</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">March 2021</a></li>
                <li><a href="#">February 2021</a></li>
                <li><a href="#">January 2021</a></li>
                <li><a href="#">December 2020</a></li>
                <li><a href="#">November 2020</a></li>
                <li><a href="#">October 2020</a></li>
                <li><a href="#">September 2020</a></li>
                <li><a href="#">August 2020</a></li>
                <li><a href="#">July 2020</a></li>
                <li><a href="#">June 2020</a></li>
                <li><a href="#">May 2020</a></li>
                <li><a href="#">April 2020</a></li>
              </ol>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">Other FAQs Resources</h4>
              <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
</section>