{% extends "home.html" %}
{% block content %}
<section>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      </div>
 
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-5">
        <form action="/small_order" method="post">
          {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Small Business</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$12<small class="text-muted fw-light">/per case</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>4 Case Minimum</li>
                <li>5% discount per case</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <input type="submit" id="small_order" name="small_order" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
      <form action="/med_order" method="post">
        {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Medium Business</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$11<small class="text-muted fw-light">/per case</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>12 Case Minimum</li>
                <li>15% discount per case</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <input type="submit" id="med_order" name="med_order" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
      <form action="/ent_order" method="post">
        {% csrf_token %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$9<small class="text-muted fw-light">/per case</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>25 Case Minimum</li>
                <li>30% discount per case</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <input type="submit" id="ent_order" name="ent_order" class="w-100 btn btn-lg btn-primary" />
            </div>
          </div>
        </div>
      </form>
    </div>
</section>
{% endblock %}